# build and personal caches
obj/
bin/
.vs/ # vs-specific, .idea, .vscode, etc. would also be useful

# Flipsider/Content/Content.mgcb - this shouldn't be ignored

Wiki/Flipsider/data/wikiovw.sli-journal
Wiki/Flipsider/data/wikiovw.sli

# typically, you'd want to ignore these with a universa
# gitignore, but it's important to not ignore these if they're
# vital. generally, there's no reason to ignore these.
# remnants left over from attempting to get the gitignore to work?
# *.pdb
# *.dll
# *.cache
# *.dll