
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.csprojAssemblyReference.cache
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.dll
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.pdb
Flipsider/bin/Debug/netcoreapp3.1/Flipsider.pdb
Flipsider/bin/Debug/netcoreapp3.1/Flipsider.dll
.vs/Flipsider/v16/.suo
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.pdb
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.dll
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.csprojAssemblyReference.cache
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.csproj.CoreCompileInputs.cache
Flipsider/bin/Debug/netcoreapp3.1/Flipsider.pdb
Flipsider/bin/Debug/netcoreapp3.1/Flipsider.dll
.vs/Flipsider/v16/.suo
.vs/Flipsider/DesignTimeBuild/.dtbcache.v2
*.lock
*.ide-shm
*.ide-wal
*.cache
*.cache
*.dll
*.pdb
