Flipsider/Content/obj/
Flipsider/obj/
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.csprojAssemblyReference.cache
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.dll
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.pdb
Flipsider/bin/Debug/netcoreapp3.1/Flipsider.pdb
Flipsider/bin/Debug/netcoreapp3.1/Flipsider.dll
.vs/Flipsider/v16/.suo
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.pdb
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.dll
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.csprojAssemblyReference.cache
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.csproj.CoreCompileInputs.cache
Flipsider/bin/Debug/netcoreapp3.1/Flipsider.pdb
Flipsider/bin/Debug/netcoreapp3.1/Flipsider.dll
.vs/Flipsider/v16/.suo
.vs/Flipsider/DesignTimeBuild/.dtbcache.v2
*.lock
*.ide-shm
*.ide-wal
*.cache
*.cache
.vs/Flipsider/v16/Server/sqlite3/storage.ide
.vs/Flipsider/v16/.suo
*.dll
*.pdb
*.ide
*.cache
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.pdb
Flipsider/Content/obj/DesktopGL/Content/.mgcontent
*.mgcontent
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.csproj.CoreCompileInputs.cache
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.csproj.FileListAbsolute.txt
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.dll
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.exe
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.pdb
Flipsider/obj/Flipsider.csproj.nuget.dgspec.json
Flipsider/obj/Debug/netcoreapp3.1/Flipsider.pdb
Flipsider/obj/Flipsider.csproj.nuget.dgspec.json
Flipsider/obj/Flipsider.csproj.nuget.g.props
Flipsider/obj/project.assets.json
Flipsider/obj/project.nuget.cache
*.mgcontent
*.cache
